{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "pages/article.twig" %}

{% block content %}
  <h3>This is my archive event</h3>
  <ul>
  {% for item in Archive.items %}
      <li><a href="{{item.link}}">{{item.name}}</a></li>
      {% for child in item.children %}
          <li class="child"><a href="{{child.link}}">{{child.name}}</a></li>
      {% endfor %}
  {% endfor %}
  </ul>
  {{ parent() }}
{% endblock %}
